.block {
  &__modal{
		@apply absolute top-0 left-0 w-full h-full p-8 bg-primaryLightMedium z-30;
	}

	&__projet{
		@apply transition-all duration-200;
		background-size: cover;
		background-position: center;
		background-image: url("https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3334&q=80");
		
		@media (hover: hover) {
			&:hover {
				@apply shadow-lg;

				button {
					@apply bg-primaryColorHover;
				}
			}
		}
		
		&-sub-infos {
			@apply flex justify-between;

			p {
				@apply text-sm1 text-white;
			}
		}
	}

	&__card {
		&-employe {
			@apply relative w-6 h-6 flex items-center justify-center bg-primaryLightMedium border border-primaryDark;
			border-radius: 50%;
			margin: -3%;

			@media (hover: hover) {
				&:hover {
					span{
						@apply opacity-100 visible;
					}
				}
			}

			p {
				@apply text-sm1 font-semibold text-primaryDarkMedium;
			}

			span {
				@apply opacity-0 invisible absolute right-0 block bg-white px-2 py-1 rounded text-sm font-medium transition-all duration-200;
				bottom: -2.25rem;
			}
		}
	}
}