.page {

	&__login {
		@apply h-screen w-full flex items-center justify-center;

		input {
			@apply mb-6 border;
		}

		button {
			@apply w-full;
		}
	}

	&__projets {
		.projet {
			background-size: cover;
			background-position: center;
			background-image: url("https://images.unsplash.com/photo-1513836279014-a89f7a76ae86?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=3334&q=80");
		}
	}

}